body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-image: url(./Imagenes/impresora-3D.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
}

.cont-form {
    width: 100%;
    padding: 15px;
}

.formulario {
    background-color: white;
    margin-top: 20px;
    margin-left: 50px;
    padding: 3px;
    width: 55%;
    border-radius: 20px;
}

h2 {
    text-align: center;
    color: #0099CC;
    font-size: 25px;
}

input[type="text"],
input[type="password"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
} 

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #0099CC;
    border-radius: 10px;
}

i{
    min-width: 50px;
    text-align: center;
    color: #006B8F;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 25px;
    background-color:#0099CC;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color:#0099CC;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(max-width:768px) 
{
    .formulario {
        margin: 50px;
        width: 60%;
        margin-top: 30px;
        margin-right: 30px;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:768px) {
    .button {
        width: 100%;
        font-size: 15px;
    }
}
