* {
    margin: 0;
    padding: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html {
    scroll-behavior: smooth;
}

#main_menu {
    width: 100%;
    position:absolute;
    top: 0;
    
}

.logoarea {
    width: 2px;
    height: 2px;
    position: absolute;
    left: 50%;
    margin-top: -12px; 
    margin-left: -150px;
    display: flex;
} 

.logo {
    width: 220px;
    height: 220px;
    
}

.inner {
    margin: 0 auto;
    width: 100%;
    background: rgb(235,234,240);
    background: linear-gradient(0deg, rgba(235,234,240,1) 0%, rgba(255,255,255,1) 100%);
}

.inner ul {
    padding: 80px;
    margin: 0;
    list-style: none;
    text-align: right;
}

.inner ul li {
    float: none;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.inner ul li:nth-child(1) {float: left;}
.inner ul li:nth-child(2) {float: left;}

.inner ul li a {
    transition: 1s;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}

.inner ul li a:hover {color:#E98980;}



    #slider {
        margin-top: 200px;
        overflow: hidden;
        
    }

    #slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 20s slider infinite linear;
    }

    #slider figure img {
        height: 350px;
        width: 20%;
        float: left;
    }

    @keyframes slider {
        0% {left: 0;}
        20% {left: 0;}

        25% {left: -100%;}
        45% {left: -100%;}

        50% {left: -200%;}
        70% {left: -200%;}

        75% {left: -300%;}
        100% {left: -300%;}
    }

        .container {
            width: 100%;
            display: flex;
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,234,240,1) 100%);
            margin-top: 0px;
            justify-content: space-evenly;
            align-items: center;
        }

        .container-text {
            width: 30%;
            height: 250px;
            margin-left: -15%;
            margin-top: 10px;
            padding: 20px;
            align-items: center;
            justify-content: center;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            
        
        }

        .container-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
            color: #E98980;
            
        }

        .container-p2 {
            font-size: 18px;
            font-weight: 500;
            text-align:center;
        }

        .container-img {
            width: 10%;
        }



                    .contenedor {
                        width: 100%;
                        display: flex;
                        background: rgb(255,255,255);
                        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,234,240,1) 100%);
                        margin-top: 0px;
                        justify-content: space-evenly;
                        align-items: center;
                    }

                    .contenedor-text {
                        width: 30%;
                        height: 250px;
                        margin-left: -15%;
                        margin-top: 10px;
                        padding: 20px;
                        align-items: center;
                        justify-content: center;
                        display: inline-block;
                        font-family: 'Poppins', sans-serif;
                        
                    
                    }

                    .contenedor-title {
                        font-size: 20px;
                        font-weight: bold;
                        margin-bottom: 20px;
                        margin-top: 20px;
                        text-align: center;
                        color: #E98980;
                        
                    }

                    .container-instructivo {
                        font-size: 18px;
                        font-weight: 500;
                        text-align:center; 
                    }

                    .helicoptero {
                        width: 25%;
                        margin-top: 80px;
                        border-radius: 10px;
                        
                    }






          /* .contenedor {
              width: 100%;
              display: flex;
              background: rgb(255,255,255);
              background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(235,234,240,1) 100%);
              margin-top: 50px;
              justify-content: space-evenly;
              align-items: center;
          }

          .contenedor-txt {
            width: 40%;
            height: 250px;
            margin-left: -15%;
            margin-top: 10px;
            padding: 20px;
            align-items: center;
            justify-content: center;
            display: inline-block;
            font-family: 'Poppins', sans-serif;
            letter-spacing: 1;
          }


          .titulo {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
            margin-top: 20px;
            text-align: center;
            color: #E98980;
          }

          .contenedor-instructivo {
            font-size: 18px;
            font-weight: 500;
            text-align:center;
          }

          .helicoptero {
              width: 10%;
          }
           */

            .cont-cards {
                position: absolute;
                margin-top: 100px;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                background: rgb(240,235,235);
                background: linear-gradient(0deg, rgba(240,235,235,1) 57%, rgba(224,224,224,1) 100%);
                font-family: 'Poppins', sans-serif;
            }

            .cont-cards .cards {
                position: relative;
                max-width: 300px;
                height: 200px;
                margin: 70px 10px;
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                transition: 0.3s ease-in-out;
            }

            .cont-cards .cards:hover {
                height: 400px;
            }

            .cont-cards .cards .imgbx {
                position: relative;
                width: 200px;
                height: 200px;
                top: -40px;
                left: 20px;
                z-index: 1;
            }

            .cont-cards .cards .imgbx img {
                max-width: 100%;
                border-radius: 4px;
            }

            .cont-cards .cards .txt {
                position: relative;
                margin-top: -100px;
                padding: 30px 15px;
                text-align: center;
                color: #E98980;
                visibility: hidden;
                opacity: 0;
                transition: 0.3s ease-in-out;        
                background-color: aqua;      
            }

            .cont-cards .cards:hover .txt {
                visibility: visible;
                opacity: 1;
                margin-top: -50px;
                transition-delay: 0.2s;
            }

